body {
    background-color: #1a1a1a;
    margin:0px;
    padding:0px;
}

.fields {
    margin-top: 20px;
}

.app-main {
    background-color: #1a1a1a;
    min-height: 90vh;
}

.window-popup {
    line-height: 39px!important;
}

.main {
    margin-top: 70px;
}

.logo-vk {
    height:17px;
    margin-top:10px;
    margin-left:3px;
    color: #fff;
}

#footer {
    background-color: dimgray;
    height: 50px;
    margin-bottom: 0;
    margin: 0 auto;
    width:100%;
}

.copyright {
    padding-top:15px;
    color: #fff;
    display: contents;
}
.wrapper-footer {
    margin: 0 auto;
    display: table;
}